<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Post - S.O.E</title>
    <link rel="stylesheet"  type="text/css" href="/public/CSS/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-expand-lg ">
      <div class="container-fluid" >
        <div class="navbar-header logo-top">
          <a class="navbar-brand" href="/"><img class="sample-image" src="/public/images/logo.png" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav ">
          <li class="active"><a class="nav-elements nav-element" href="/">Home  |  الرئيسية</a></li>
          <li ><a class="nav-elements nav-element" href="/blog">Blog  |  المنشورات</a></li>
          <li ><a class="nav-elements nav-element" href="/faq">FAQ  |  الأسئلة الشائعة</a></li>
          <li ><a class="nav-elements nav-element" href="/contact">Contact Us  |  تواصل معنا</a></li>
        </ul>
      </div>
    </nav>

    <a class="btn btn-outline-light btn-lg" style="font-size: 1.2rem; font-family: 'Tajawal', sans-serif; background-color: #a0cae0; border: 2px solid; position: absolute; left:0; margin: 0 3rem 3rem 3rem;" href="/blog/<%= articles.hrefTitle %>">Read in English</a>

    <div class="wclass">
      <h1 class="blog-post display-4 arabic" style="margin:0;padding-left:20%;"> <%= articlesArabic.title %></h1>
      <p class="arabic"> <small class="blog-post" style="color: grey;"><%= articlesArabic.date %></small> </p>
      <img src="<%= articles.image %>" alt="" style="margin-top:1rem;margin-bottom:1rem;max-width: 80%;display: block;margin-left: auto;  margin-right: auto; ">
      <p class="blog-post arabic"><%= articlesArabic.text %></p>
      <p class="blog-post arabic"><%= articlesArabic.text2 %></p>
      <p class="blog-post arabic"><%= articlesArabic.text3 %></p>
      <p class="blog-post arabic"><%= articlesArabic.text4 %></p>
      <p class="blog-post arabic"><%= articlesArabic.text5 %></p>
      <p class="blog-post arabic"><%= articlesArabic.text6 %></p>
      <img src="<%= articlesArabic.imageText %>" alt="" style="margin-top:1rem;margin-bottom:1rem;max-width: 80%;display: block;margin-left: auto;  margin-right: auto; ">
        <a class="blog-post" style="font-size: 1.2rem; color: #29617f; text-decoration-color: black;" href="<%= articles.vid %>"> <%= articles.videoText %> </a>
      <img src="<%= articles.image2 %>" alt="" style="margin-top:1rem;margin-bottom:1rem;max-width: 80%;display: block;margin-left: auto;  margin-right: auto; ">
    </div>

    <div class="row">
      <div class="container bclass arabic" style="width: 30%; margin-left: auto; margin-right: 4rem; padding:1rem;;">
        <p style="margin:0; padding: 0; font-size: 0.8rem;">الكاتب: <%= articlesArabic.author %> </p>
        <p style="margin:0; padding: 0; font-size: 0.8rem;">المترجم: <%= articlesArabic.translator %> </p>
        <p style="margin:0; padding: 0; font-size: 0.8rem;">المحرر: <%= articlesArabic.editor %> </p>
        <p style="margin:0; padding: 0; font-size: 0.8rem;">مساهم آخر: <%= articlesArabic.otherContributer %> </p>
      </div>
    </div>

    <footer class="bclass">
      <div class="container middle-text">
        <div class="row">
          <div class="col">
            <img class="footer-content" src="/public/images/instagram.svg" alt="instagram">
            <a class="footer-content" href="https://www.instagram.com/sciofeverything/">Follow Us On Instagram</a>
            <br>
            <a class="footer-content arabic" href="https://www.instagram.com/sciofeverything/"> ضيفونا على الانستجرام</a></a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/gmail.svg" alt="gmail">
            <a class="footer-content" href="mailto:sciofeverything@gmail.com">Send Us An Email</a>
            <br>
            <a class="footer-content arabic" href="mailto:sciofeverything@gmail.com">راسلونا عبر البريد الالكتروني</a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/youtube.svg" alt="youtube">
            <a class="footer-content" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">Subscribe To Our Youtube</a>
            <br>
            <a class="footer-content arabic" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">اشتركوا في قناة اليوتيوب</a>
          </div>
        </div>
          <hr class="w-hr" style="width: 20%;">
        <div class="row">
          <p class="middle-text " style="padding:0; font-size: 0.9rem;color: #29617f; margin: 0 auto;">Established 2020</p>
        </div>
      </div>
    </footer>


  </body>
</html>
