<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog - S.O.E</title>
    <link rel="stylesheet" type="text/css" href="/public/CSS/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-expand-lg ">
      <div class="container-fluid" >
        <div class="navbar-header logo-top">
          <a class="navbar-brand" href="/"><img class="sample-image" src="/public/images/logo.png" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav ">
          <li class="active"><a class="nav-elements nav-element" href="/">Home  |  الرئيسية</a></li>
          <li ><a class="nav-elements nav-element" href="/blog">Blog  |  المنشورات</a></li>
          <li ><a class="nav-elements nav-element" href="/faq">FAQ  |  الأسئلة الشائعة</a></li>
          <li ><a class="nav-elements nav-element" href="/contact">Contact Us  |  تواصل معنا</a></li>
        </ul>
      </div>
    </nav>

    <div class="wclass">

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <div class="bclass">
      <h1 class="white-text font-weight-bold middle-text" >Recent &nbsp; &nbsp; &nbsp; جديدنا</h1>
      <div class="row">
        <div class="col my-2">
          <a href="/blog/<%= articles[articles.length-1].title.replace(/\s+/g, '-').toLowerCase() %>" style="color: black; text-decoration-color: #29617f;">
            <div class="card h-100 mx-auto" style="width: 20rem;">
             <img class="card-img-top sample-image" src="<%= articles[articles.length-1].image %>" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title middle-text" style="margin:0; padding:0;"> <%= articles[articles.length-1].title %> </h5>
               <h5 class="card-title middle-text" style="margin:0; padding:0;"> <%= articles[articles.length-1].titleArabic %> </h5>
             </div>
             <footer class="blockquote-footer middle-text" style="margin-bottom: 1.5rem;">Written by <cite title="Source Title"><%= articles[articles.length-1].author %></cite></footer>
           </div>
         </a>
        </div>
        <div class="col my-2">
          <a href="/blog/<%= articles[articles.length-2].title.replace(/\s+/g, '-').toLowerCase() %>" style="color: black; text-decoration-color: #29617f;">
            <div class="card h-100 mx-auto" style="width: 20rem;">
             <img class="card-img-top sample-image" src="<%= articles[articles.length-2].image %>" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title middle-text" style="margin:0; padding:0;"> <%= articles[articles.length-2].title %> </h5>
               <h5 class="card-title middle-text" style="margin:0; padding:0;"> <%= articles[articles.length-2].titleArabic %> </h5>
             </div>
             <footer class="blockquote-footer middle-text" style="margin-bottom: 1.5rem;">Written by <cite title="Source Title"><%= articles[articles.length-2].author %></cite></footer>
           </div>
         </a>
        </div>
        <div class="col my-2">
          <a href="/blog/<%= articles[articles.length-3].title.replace(/\s+/g, '-').toLowerCase() %>" style="color: black; text-decoration-color: #29617f;">
            <div class="card h-100 mx-auto" style="width: 20rem;">
             <img class="card-img-top sample-image" src="<%= articles[articles.length-3].image %>" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title middle-text" style="margin:0; padding:0;"> <%= articles[articles.length-3].title %> </h5>
               <h5 class="card-title middle-text" style="margin:0; padding:0;"> <%= articles[articles.length-3].titleArabic %> </h5>
             </div>
             <footer class="blockquote-footer middle-text" style="margin-bottom: 1.5rem;">Written by <cite title="Source Title"><%= articles[articles.length-3].author %></cite></footer>
           </div>
         </a>
        </div>
      </div>
    </div>

    <div class="wclass">
      <h1 class="display-4 white-textp middle-text" >Want to submit your work? </h1>
      <h1 class="display-4 arabic white-textp middle-text" >أتريد تسليم عمل لك؟ </h1>
      <div class="row justify-content-center">
        <a class="btn btn-outline-light btn-lg btn-block" style="font-size: 2rem; font-family: 'Tajawal', sans-serif; background-color: #a0cae0; border: 2px solid;" href="mailto:sciofeverything@gmail.com">Submit &nbsp;&nbsp; تسليم</a>
      </div>
    </div>

    <div class="bclass">
      <h1 class="display-3 white-text middle-text" >All Posts</h1>
      <h1 class="display-3 arabic white-text middle-text" >جميع المنشورات</h1>
    </div>

    <div class="wclass">
      <input class="form-control w-25" id="myInput" type="text" placeholder="Search For Key Word.." style="margin-bottom: 2rem; border-color: #a0cae0; background-color: #fffafa;">
      <div id="myDIV">
        <div class="row">

          <% Array.from(articles).forEach(function (article) { %>
            <div class="col my-2 card-content">
              <a href="/blog/<%= article.title.replace(/\s+/g, '-').toLowerCase() %>" style="color: black; text-decoration-color: #29617f;">
                <div class="card h-100 mx-auto" style="width: 20rem;">
                 <img class="card-img-top sample-image" src="<%= article.image %>" alt="Card image cap">
                 <div class="card-body">
                   <h5 class="card-title middle-text" style="margin:0; padding:0;"><%= article.title %></h5>
                   <h5 class="card-title middle-text arabic" style="margin:0; padding:0;"><%= article.titleArabic %></h5>
                 </div>
                 <footer class="blockquote-footer middle-text" style="margin-bottom: 1rem;">Written by <cite title="Source Title"><%= article.author %></cite></footer>
               </div>
             </a>
            </div>
          <% }); %>

        </div>
      </div>
    </div>

    <footer class="bclass">
      <div class="container middle-text">
        <div class="row">
          <div class="col">
            <img class="footer-content" src="/public/images/instagram.svg" alt="instagram">
            <a class="footer-content" href="https://www.instagram.com/sciofeverything/">Follow Us On Instagram</a>
            <br>
            <a class="footer-content arabic" href="https://www.instagram.com/sciofeverything/"> ضيفونا على الانستجرام</a></a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/gmail.svg" alt="gmail">
            <a class="footer-content" href="mailto:sciofeverything@gmail.com">Send Us An Email</a>
            <br>
            <a class="footer-content arabic" href="mailto:sciofeverything@gmail.com">راسلونا عبر البريد الالكتروني</a>
          </div>
          <div class="col">
            <img class="footer-content" src="/public/images/youtube.svg" alt="youtube">
            <a class="footer-content" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">Subscribe To Our Youtube</a>
            <br>
            <a class="footer-content arabic" href="https://www.youtube.com/channel/UChEYjDQjwN1fJ1Yx729k3CQ">اشتركوا في قناة اليوتيوب</a>
          </div>
        </div>
          <hr class="w-hr" style="width: 20%;">
        <div class="row">
          <p class="middle-text " style="padding:0; font-size: 0.9rem;color: #29617f; margin: 0 auto;">Established 2020</p>
        </div>
      </div>
    </footer>


    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myDIV .card-content").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>


  </body>
</html>
